.mobile {
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    body {
      background: black;
    }
    .mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      color: white;
    }
    .mobile h1 {
      font-size: 2.3em;
      color: red;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 1px;
      text-shadow: 0px 0px 6px darkred;
      -webkit-animation: mobileLegend 0.7s ease-in-out infinite;
              animation: mobileLegend 0.7s ease-in-out infinite;
    }
    main {
      display: none;
    }
  }
  @-webkit-keyframes mobileLegend {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes mobileLegend {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  main {
    display: none;
  }
  
  @media screen and (min-width: 483px) {
    main {
      background: #f0f0f0;
      height: 100vh;
      text-align: center;
      display: block;
    }
    main h1 {
      text-align: center;
      font-size: 3em;
      font-family: "Poppins", sans-serif;
    }
    main h2 {
      font-size: 2em;
      font-family: "Poppins", sans-serif;
    }
    main p {
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 10px;
    }
  }